<html>
  <head>
    <title>{{@siteSettings.title}} | {{title}}</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"
    />
    <link href="/style.css" rel="stylesheet" />
  </head>
  <body>
    <div class="container min-vh-100 d-flex flex-column">
      <div class="row">
        <div
          class="col-6 offset-3 mb-5 mt-3 pb-3 border-bottom border-secondary-subtle"
        >
          <h1 class="site-title d-inline px-1 pb-1">{{@siteSettings.title}}</h1>
          <h2
            class="text-body-tertiary fst-italic fw-light fs-3 mt-1"
          >{{@siteSettings.description}}</h2>
        </div>
      </div>
      <div class="row flex-grow-1">
        <div class="col-6 offset-3">
          {{{body}}}
        </div>
      </div>
      <div class="row">
        <div class="col-6 offset-3">
          <footer>
            <p
              class="text-center mt-2 pt-4 mb-4 border-top border-body-tertiary text-body-tertiary"
            >{{@siteSettings.footer}}</p>
          </footer>
        </div>
      </div>
    </div>

  </body>
  <script src="/auth.js"></script>
  <script src="/utils.js"></script>

</html>